[core]
	excludesfile = /Users/bayguh/.gitignore_global
	quotepath = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = hiroki_shimada
	email = hsnonsense5@gmail.com
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[http]
	sslVerify = false
	postBuffer = 524288000
